@model AV.ForeignExchangeRates.Front.Models.Account
@{
}

<div class="login-div fullscreen">
    <form method="post" class="login-form flex-form col-11 col-sm-10 col-md-9 col-lg-6 col-xl-4">
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <img src="~/logo-color.svg" width="20%" />
        <div class="col-12">
            <div>
                <input class="form-control" asp-for="ClientId" type="text" />
            </div>
            <span asp-validation-for=ClientId class="text-danger"></span>
        </div>
        <div class="col-12">
            <div>
                <input class="form-control" asp-for="UserId" type="text" />
            </div>
            <span asp-validation-for=UserId class="text-danger"></span>
        </div>
        <div class="col-12">
            <div>
                <input placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;" class="form-control" asp-for="Password" type="password" />
            </div>
            <span asp-validation-for=Password class="text-danger"></span>
        </div>
        <div class="col-12 flex-form">
            <input type="submit" class="login-button" value="Sing me in" />
        </div>
    </form>
</div>
